.table {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thx {
  background-color: rgba(0, 255, 255, 0.203);
  color: white;
  text-shadow: 0 0 1px black;
  border-radius: 25px;
  box-shadow: 0 0 5px black;
}

.btn-back {
  width: 500px;
  height: 40px;
  border-radius: 15px;
  background-color: rgba(0, 255, 255, 0.203);
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px black;
  color: black;
  transition: .5s linear;
}

.btn-back:hover {
  background-color: rgba(0, 255, 255, 0.603);
  color: black;
}
